
{{#each-in @data.data as |key old_data|}}
  <p class="line key">{{key}}</p>-<p class="line">{{old_data}}</p> &nbsp;
{{/each-in}}
<br>
<br>
<br>
<table>
  {{#each @data.keys as |record|}}  
  <tr>
    <td>
      <p style="display: inline;">{{record}}: </p> 
    </td>
    <td>
      <input type="text" value={{this.formData.record}}  {{on "input" (fn this.updateFormFieldValue record)}}>
    </td>
  </tr>
  {{/each}}
</table>
<button  type="button" {{on 'click' this.update}}>Add/Edit</button>
 {{!-- <LinkTo @route="index"><button type="button" {{on "click" this.update}} {{on-key 'Enter' this.update}}>Add/Edit</button></LinkTo> --}}

 <br><br>
<button {{on 'click' this.submit}}>click</button>


