<div class="flash-msg">
    {{#each this.flashMessages.queue as |flash|}}
      {{flash-message flash=flash}}
    {{/each}}
</div>

<div {{on-click-outside this.outsideClick}}>
   <div class="search-area">
     {{input type="text" class="search-box" value=this.search_value placeholder="Search.."}}
    <button type="button" {{on "click" this.filter}}>Search</button>
    <button type="button" {{on "click" this.resetFilter}}>Reset</button>
   </div>
   
    
    <div class="edit-btn">
        <button style="margin-left: 190px;" type="button" {{on 'click' this.deleteSelectedRows}}>Delete</button>
        <LinkTo @route="add"><button type="button">Add</button></LinkTo>
    </div>
    
    <button type="button" {{on 'click' this.display}}>Display</button>
   
    <div class="table">
       {{#if this.load}}
        <table border="2" width="80%" id="data">
            <tr class="header" id="header">
                <th>Select</th>
                <th>Id</th>
                <th>Name</th>
                <th>DOB</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Mobile</th>
                <th></th>
            </tr>
            <VerticalCollection
              @estimateHeight="50"
              @items={{this.records}}
              as |record|
            >
            <tr class="row">
                  <td><input type="checkbox" {{on 'click' (fn this.check record.id)}} checked={{false}}></td>
                  <td>{{record.id}}</td>
                  <td>{{record.name}}</td>
                  <td>{{record.dob}}</td>
                  <td>{{record.age}}</td>
                  <td>{{record.gender}}</td>
                  <td>{{record.mobile}}</td>
                <td><LinkTo @route="edit" @model={{record.id}}><button type="button">Edit</button></LinkTo></td>
            </tr>
              
            </VerticalCollection> 
           
        </table>
         {{else}}
           <p>Loading...</p>
         {{/if}}
        <br>

    </div>
   
</div>
   
    
