<div class="flash-msg">
    {{#each this.flashMessages.queue as |flash|}}
      {{flash-message flash=flash}}
    {{/each}}
</div>

{{to-upper-case value='krishna'}}
 <div class="search-area">
     {{input type="text" class="search-box" value=this.search_value placeholder="Search.."}}
    <button type="button" {{on "click" this.filter}}>Search</button>
   
</div>

<div class="edit-btn">
    <button style="margin-left: 190px;" type="button" {{on 'click' this.deleteSelectedRows}}>Delete</button>
    <LinkTo @route="add"><button type="button">Add</button></LinkTo>
</div>
    
   
 <button type="button" {{on 'click' this.display}}>Display</button>

<div class="table">
    {{#if this.load}}
      <table border="2" width="80%">
        <tr>
            <th>Select</th>
            {{#each this.headers as |key|}}
              <th>{{to-upper-case key}}</th>
            {{/each}}
            <th></th>
        </tr>
        <VerticalCollection
              @estimateHeight="50"
              @items={{this.records}}
              as |record|
            >
            <tr>
                  <td><input type="checkbox" {{on 'click' (fn this.check (get record "0"))}}></td>
                {{#each record as |cellValue|}}
                 <td>{{cellValue}}</td>
                {{/each}}
                <td><LinkTo @route="edit" @model={{get record "0"}}><button type="button">Edit</button></LinkTo></td>
            </tr>
              
            </VerticalCollection> 
           
        
      </table>
      {{else if this.no_results}}
         <p>No record found!</p>
      {{else}}
         <p>Loading..</p>
    {{/if}}
</div>
     

